.container-new-item {
    max-width: 70rem;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

input, select, textarea {
    display: block;
    width: 100%;
    padding: 0.8rem;
    background-color: #1c1a1d;
    border: 0;
    border-radius: .5rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}