.cards {
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.card {
    width: 22rem;
    height: 150px;
    padding: 1rem 2rem;
    background-color: #1c1a1d;
    border-radius: .5rem;
}

.card p {
    text-align: center;
    font-size: 3rem;
}

.tables {
    display: flex;
    gap: 2rem;
}