.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1rem;
}

.card {
    flex-grow: 1;
    flex-basis: 18rem;
    height: 150px;
    padding: 1rem 2rem;
    /* background-color: #1c1a1d; */
    border-radius: .5rem;
    font-weight: 700;
}

.card p {
    text-align: center;
    font-size: 3rem;
}

.tables {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.tables table {
    flex-grow: 1;
    flex-basis: 18rem;
}