#root > header,
#root > footer {
  flex: 0 1 auto;
  padding: 0 2rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a, .logo {
  display: inline-block;
  color: #fefefe;
  padding: 1rem;
  text-decoration: none;
}


nav a:hover {
  background-color: #fefefe11;
}

.logo {
  font-size: 1.25rem;
  font-weight: 600;
}