.individual__item > div{
    display: flex;
    align-items: center;
    column-gap: 2rem;
    margin-bottom: 2rem;
}

.item__details {
    background-color: #ffffff;
    box-shadow: 0 4px 16px -2px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    border-radius: .5rem;
}